.navigation__item,
.navigation__item--active {
  width: 120px;
  height: 20px;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
  transition: all .2s ease-out;
}

.navigation__item--active {
  cursor: default;
  border-bottom: 1px solid blueviolet;
}

.navigation__item:hover {
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  background: rgb(200, 200, 200);
}

.navigation__item:active {
  box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
  background: rgb(195, 195, 195);
}

@media(min-width: 590px) {
  .navigation__item {
    width: 120px;
  }
}