.profileCard {
  width: 99%;
  border-bottom: 1px solid rgb(124, 13, 228);
  background: white;
  box-shadow: 4px 4px 10px rgb(49, 49, 49);
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 30px;
  transform: all .4s linear;
}

.profileCard__flex {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.profileCard__name {
  width: 40%;
}

.profileCard__flex div {
  margin: 5px;
}

.profileCard__button,
.profileCard__editButton,
.profileCard__detailButton,
.profileCard__button--delete {
  outline: none;
  margin: 0 3px;
  background: transparent;
  height: 30px;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .2s linear;
}


.profileCard__detailButton:active {
  background: rgb(199, 199, 199);
  border: 1px solid rgb(132, 0, 255);
}


.profileCard__button--delete {
  padding: 2px;
  width: 30px;
  background: transparent;
  border: 1px solid transparent;
  transition: all .2s linear;
}



.profileCard__editButton--active {
  color: rgb(94, 0, 182);
  transform: rotate(-45deg);
}

.profileCard__editButton:active {
  color: rgb(94, 0, 182);
  transform: rotate(-45deg);
}

.profileCard__detailButton--active {
  transform: rotate(180deg)
}

.profileCard__button--delete:active {
  background: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
}

.profileCard__button--delete:hover {
  background: rgb(250, 94, 94);
  border: 1px solid rgb(255, 96, 96);
  transform: rotate(90deg)
}

@media(min-width:500px) {
  .profileCard__name {
    width: 60%;
  }

  .profileCard:hover {
    background: rgba(255, 255, 255, 0.756);
  }

  .profileCard__detailButton:hover {
    background: rgb(209, 209, 209);
    border: 1px solid rgb(220, 182, 255);
  }

  .profileCard__editButton:hover {
    color: rgb(155, 47, 255);
    transform: rotate(-25deg);
  }
}

.animation-enter {
  opacity: 0;
}

.animation-exit {
  opacity: 1;
}

.animation-enter-active {
  transition: opacity 2s;
  opacity: 1;
}

.animation-exit-active {
  transition: opacity 2s;
  opacity: 0;
}