.details__container {
  padding: 3px 0;
}

.details__container--show {
  animation: showDetail .4s linear forwards;
}

.details__container--hide {
  animation: hideDetail .15s linear forwards;
}

.detail__flex {
  display: flex;
  background: rgba(240, 240, 240, 0.75);
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.detail__item {
  border-bottom: 1px solid blueviolet;
  margin: 5px 10px;
}

@keyframes showDetail {
  0% {
    height: 0;
    transform: scaleY(.3);
  }

  100% {
    height: 65px;
    transform: scaleY(1);
  }
}

@keyframes hideDetail {
  0% {
    transform: opacity(1);
    transform: scaleY(1);
    height: 65px;
  }

  10% {
    transform: opacity(0);
  }

  100% {
    transform: scaleY(.0);
    height: 0;
  }
}