.addContact__block {
  background: rgb(207, 207, 207);
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px auto;
  border-radius: 2px;
  box-shadow: 3px 3px 5px;
}

.addContact__block--active {
  animation: showBlock 1s linear;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.addContact__block--noActive {
  animation: hideBlock 1s linear;
  display: none
}

@keyframes hideBlock {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.addContact__title{
  border-bottom: 2px solid rgb(124, 13, 228);
  width: 195px;
  margin: 0 auto 10px auto;
}

.addContact__block input {
  width: 180px;
  padding: 5px;
  margin: 5px auto;
  outline: none;
  border-radius: 2px;
  border: 1px solid transparent;
}

.addContact__input:hover {
  background: rgb(173, 173, 173);
  border: 1px solid rgb(89, 0, 172);

}

.addContact__input:focus,
.addContact__input:active {
  background: rgb(219, 219, 219);
  border: 1px solid rgb(124, 13, 228);
}

@media(min-width: 630px) {
  .addContact__block {
    width: 500px;
    padding: 30px;
  }
}